# Visual Studio files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.vcproj.user
*.ipch/
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.res
*.aps
*.pch
*.aps
*.ncb
*.user
*.aps
*.aps
*.aps
*.aps
*.scc
*.tlh
*.tli
*.log
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
x64/
*.ilk
*.meta
*.msi
*.msp
*.msm
*.map
*.png
*.bmp
*.ico
*.dll
*.lib
*.obj
*.idb
*.pdb
*.pch
*.res
*.rc
*.ilk
*.aps
*.aps
*.suo
*.user
*.ncb
*.opt
*.plg
*.aps
*.aps
*.aps
*.aps
*.ilk
*.ncb
*.sbr
*.sdf
*.suo
*.tlb
*.tli
*.tlh
*.trx
*.vcproj.*
*.vcxproj.*
*.userprefs
*.wixobj
*.wixpdb
*.xap
*.xapdeploy
*.csproj
*.sln
*.cache
*.vs/
*.vscode/
*.vspscc
*.vssscc
*.psess
*.psess.web
*.publishsettings
*.wpp.*
*.Publish.xml
*_i.c
*_p.c
*.ilk
*.meta
*.psess
*.user
*.log
*.tmp
*.zip
*.pch
*.vspx
*.cache
*.db
*.sln.docstates
*.suo
*.opendb
*.ini
*.md
*.txt
*.cmake
*.yml
*.xml
*.json
*.png
*.jpg
*.gif
*.bmp
*.ttf
*.otf
*.ico
*.exe
*.dll
*.a
*.so
*.lib
*.bin
*.o
*.obj
*.pdb
*.pyc
*.pyo
*.swp
*.DS_Store
